body{
  max-width: 500px;
  margin: auto;
}
.div-main{
  border: 3px solid navy;
  width: 100%;
}
.div-inp{
  width: 98.5%;
}
.inp{
  width: 90%;
  height: 50px;
  margin: 15px 0 15px 22px ;
}
.div-btn{
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 15px 0px 20px 34px;
  justify-content: space-evenly;
}
.div-btn button{
  background: red;
  width: 21%;
  height: 57px;
  margin: 5px 0px;
  font-size: 25px;
}